h1, h2 {
    text-align: center;
}
header {
  background: hsla(160, 100%, 37%, 1);  
}
header > h1 {
  text-align: left;
  padding-left: 1rem;
}
.flex-center-content{
    display: flex;
    justify-content: center;
  }
.one-column{
    flex-direction: column;
}
.transparent-button{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
  }